<tr>
  <td>{{name}}</td>
  {{!-- <td><a href="batch/{{code}}.html">{{name}}</a> --}}
    {{!-- {{#if description}}
      <a href="batch/{{code}}.html">{{name}}</a>
    {{else}}
      {{name}}
    {{/if}} --}}
  </td>
  <td>{{style}}</td>
  <td class="align-right">{{fixedNum abv 1}}%</td>
  <td class="align-right">{{fixedNum ibu}}</td>
  <td>{{date brewed}}</td>
  <td>{{date bottled}}</td>
</tr>
